In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
!apt-get update -qq
!apt-get install fonts-nanum* -qq
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
fe = fm.FontEntry(
    fname = r'/usr/share/fonts/truetype/nanum/NanumGothic.ttf', name='NanumGothic')
fm.fontManager.ttflist.insert(0, fe)
plt.rcParams.update({'font.size':18, 'font.family':'NanumGothic'})

Selecting previously unselected package fonts-nanum-extra.
(Reading database ... 122545 files and directories currently installed.)
Preparing to unpack .../fonts-nanum-extra_20180306-3_all.deb ...
Unpacking fonts-nanum-extra (20180306-3) ...
Selecting previously unselected package fonts-nanum.
Preparing to unpack .../fonts-nanum_20180306-3_all.deb ...
Unpacking fonts-nanum (20180306-3) ...
Selecting previously unselected package fonts-nanum-coding.
Preparing to unpack .../fonts-nanum-coding_2.5-2_all.deb ...
Unpacking fonts-nanum-coding (2.5-2) ...
Selecting previously unselected package fonts-nanum-eco.
Preparing to unpack .../fonts-nanum-eco_1.000-7_all.deb ...
Unpacking fonts-nanum-eco (1.000-7) ...
Setting up fonts-nanum-extra (20180306-3) ...
Setting up fonts-nanum (20180306-3) ...
Setting up fonts-nanum-coding (2.5-2) ...
Setting up fonts-nanum-eco (1.000-7) ...
Processing triggers for fontconfig (2.13.1-2ubuntu3) ...

In [2]:
data=pd.read_csv('/content/drive/MyDrive/daejeon_1/milknew.csv')
data.head()

    pH  Temprature  Taste  Odor  Fat   Turbidity  Colour   Grade
0  6.6          35      1     0     1          0     254    high
1  6.6          36      0     1     0          1     253    high
2  8.5          70      1     1     1          1     246     low
3  9.5          34      1     1     0          1     255     low
4  6.6          37      0     0     0          0     255  medium

In [3]:
print(data.columns)

Index(['pH', 'Temprature', 'Taste', 'Odor', 'Fat ', 'Turbidity', 'Colour',
       'Grade'],
      dtype='object')

In [4]:
print(data.isna().sum())

pH            0
Temprature    0
Taste         0
Odor          0
Fat           0
Turbidity     0
Colour        0
Grade         0
dtype: int64

In [5]:
print(data.loc[:, "Taste":"Turbidity"].apply(lambda x: x.unique()))

   Taste  Odor  Fat   Turbidity
0      1     0     1          0
1      0     1     0          1

In [6]:
data['Grade'].unique()

array(['high', 'low', 'medium'], dtype=object)

In [7]:
data['Grade'] = data['Grade'].apply(lambda x: 1 if x=='high' else (2 if x=='medium' else 3))
data

       pH  Temprature  Taste  Odor  Fat   Turbidity  Colour  Grade
0     6.6          35      1     0     1          0     254      1
1     6.6          36      0     1     0          1     253      1
2     8.5          70      1     1     1          1     246      3
3     9.5          34      1     1     0          1     255      3
4     6.6          37      0     0     0          0     255      2
...   ...         ...    ...   ...   ...        ...     ...    ...
1054  6.7          45      1     1     0          0     247      2
1055  6.7          38      1     0     1          0     255      1
1056  3.0          40      1     1     1          1     255      3
1057  6.8          43      1     0     1          0     250      1
1058  8.6          55      0     1     1          1     255      3

[1059 rows x 8 columns]

In [8]:
print(data.dtypes)

pH            float64
Temprature      int64
Taste           int64
Odor            int64
Fat             int64
Turbidity       int64
Colour          int64
Grade           int64
dtype: object

In [9]:
def data_classfy(data):
    data_classification_list = []

    for c in sorted(data["Grade"].unique(), reverse=True):
        data_classification_list.append(data[data["Grade"] == c])

    return data_classification_list

In [10]:
data_classification_list = data_classfy(data)

for data_part in data_classification_list:
    print(data_part.head())
    print(f'size: {data_part.shape}')
    print()

    pH  Temprature  Taste  Odor  Fat   Turbidity  Colour  Grade
2  8.5          70      1     1     1          1     246      3
3  9.5          34      1     1     0          1     255      3
6  5.5          45      1     0     1          1     250      3
7  4.5          60      0     1     1          1     250      3
8  8.1          66      1     0     1          1     255      3
size: (429, 8)

     pH  Temprature  Taste  Odor  Fat   Turbidity  Colour  Grade
4   6.6          37      0     0     0          0     255      2
9   6.7          45      1     1     0          0     247      2
10  6.7          45      1     1     1          0     245      2
15  6.5          38      1     0     0          0     255      2
19  6.8          40      1     0     1          0     245      2
size: (374, 8)

     pH  Temprature  Taste  Odor  Fat   Turbidity  Colour  Grade
0   6.6          35      1     0     1          0     254      1
1   6.6          36      0     1     0          1     253      1
5   6.6          37      1     1     1          1     255      1
14  6.8          45      0     1     1          1     255      1
20  6.6          45      0     1     1          1     250      1
size: (256, 8)

In [12]:
# 범주형 data one-hot encoding
data1 = pd.get_dummies(data_classification_list[2].loc[:, data_classification_list[2].columns[:7]], columns=data_classification_list[2].columns[2:6], dtype="int64")

print(data1)

       pH  Temprature  Colour  Taste_0  Taste_1  Odor_0  Odor_1  Fat _0  \
0     6.6          35     254        0        1       1       0       0
1     6.6          36     253        1        0       0       1       1
5     6.6          37     255        0        1       0       1       0
14    6.8          45     255        1        0       0       1       0
20    6.6          45     250        1        0       0       1       0
...   ...         ...     ...      ...      ...     ...     ...     ...
1043  6.8          40     255        0        1       0       1       0
1047  6.8          45     245        0        1       0       1       0
1050  6.6          37     255        0        1       0       1       0
1055  6.7          38     255        0        1       1       0       0
1057  6.8          43     250        0        1       1       0       0

      Fat _1  Turbidity_0  Turbidity_1
0          1            1            0
1          0            0            1
5          1            0            1
14         1            0            1
20         1            0            1
...      ...          ...          ...
1043       1            0            1
1047       1            1            0
1050       1            0            1
1055       1            1            0
1057       1            1            0

[256 rows x 11 columns]

In [13]:
# max-min 정규화
from sklearn.preprocessing import MinMaxScaler

data1 = pd.DataFrame(MinMaxScaler().fit_transform(data1), index=data1.index, columns=data1.columns)

print(data1)

            pH  Temprature  Colour  Taste_0  Taste_1  Odor_0  Odor_1  Fat _0  \
0     0.333333         0.0     0.9      0.0      1.0     1.0     0.0     0.0
1     0.333333         0.1     0.8      1.0      0.0     0.0     1.0     1.0
5     0.333333         0.2     1.0      0.0      1.0     0.0     1.0     0.0
14    1.000000         1.0     1.0      1.0      0.0     0.0     1.0     0.0
20    0.333333         1.0     0.5      1.0      0.0     0.0     1.0     0.0
...        ...         ...     ...      ...      ...     ...     ...     ...
1043  1.000000         0.5     1.0      0.0      1.0     0.0     1.0     0.0
1047  1.000000         1.0     0.0      0.0      1.0     0.0     1.0     0.0
1050  0.333333         0.2     1.0      0.0      1.0     0.0     1.0     0.0
1055  0.666667         0.3     1.0      0.0      1.0     1.0     0.0     0.0
1057  1.000000         0.8     0.5      0.0      1.0     1.0     0.0     0.0

      Fat _1  Turbidity_0  Turbidity_1
0        1.0          1.0          0.0
1        0.0          0.0          1.0
5        1.0          0.0          1.0
14       1.0          0.0          1.0
20       1.0          0.0          1.0
...      ...          ...          ...
1043     1.0          0.0          1.0
1047     1.0          1.0          0.0
1050     1.0          0.0          1.0
1055     1.0          1.0          0.0
1057     1.0          1.0          0.0

[256 rows x 11 columns]

In [17]:
def part_outlier_search(x):
    iqr = x.quantile(0.75) - x.quantile(0.25)

    return x[(x < x.quantile(0.25) - 1.5 * iqr) | (x > x.quantile(0.75) + 1.5 * iqr)].index

In [18]:
def outlier_search(data):
    return data.drop(data.columns[2:6], axis=1).drop(data.columns[7], axis=1).apply(part_outlier_search)

In [19]:
part_data_outlier_list = []

for part_data in data_classification_list:
    part_data_outlier_list.append((part_data["Grade"].unique(), outlier_search(part_data)))

In [22]:
# data 유사도 확인
from sklearn.metrics.pairwise import cosine_similarity

temp = pd.DataFrame(cosine_similarity(data1), index=data1.index, columns=data1.index).drop(part_data_outlier_list[2][1]["Temprature"], axis=1)
temp = temp.drop(temp.columns, axis=0)

print(temp)

Empty DataFrame
Columns: [0, 1, 5, 14, 20, 23, 25, 29, 32, 35, 39, 43, 47, 50, 61, 66, 72, 75, 77, 81, 85, 89, 93, 98, 105, 109, 111, 114, 116, 123, 125, 128, 131, 133, 137, 141, 145, 149, 154, 161, 167, 171, 175, 179, 182, 193, 198, 205, 216, 221, 227, 230, 232, 236, 240, 245, 247, 250, 252, 259, 261, 264, 267, 269, 273, 277, 282, 289, 295, 299, 303, 307, 310, 321, 326, 333, 344, 349, 355, 358, 360, 364, 368, 373, 375, 378, 380, 386, 392, 395, 397, 401, 405, 409, 413, 418, 425, 429, 431, 434, ...]
Index: []

[0 rows x 256 columns]

In [28]:
# 이상치 data와 가장 유사한 data의 index 확인
def a(part_data):
    return part_data[part_data == part_data.max()].index

print(temp.T.apply(a).T)

      Temprature
0     Temprature
1     Temprature
2     Temprature
3     Temprature
4     Temprature
...          ...
1054  Temprature
1055  Temprature
1056  Temprature
1057  Temprature
1058  Temprature

[1059 rows x 1 columns]

In [29]:
temp = pd.DataFrame(data.loc[part_data_outlier_list[2][1]["Temprature"], "Temprature"].map(lambda x: data.loc[8, "Temprature"]))

temp = pd.concat([pd.DataFrame(data.loc[:, "Temprature"].drop(temp.index, axis=0)), temp], axis=0).sort_index(axis=0)

data2 = pd.concat([data.drop(data.columns[1:], axis=1), temp, data.drop(data.columns[:2], axis=1)], axis=1)

In [36]:
g_data = pd.get_dummies(data, columns=data.columns[2:6], dtype="int64")

print(g_data)

       pH  Temprature  Colour  Grade  Taste_0  Taste_1  Odor_0  Odor_1  \
0     6.6          35     254      1        0        1       1       0
1     6.6          36     253      1        1        0       0       1
2     8.5          70     246      3        0        1       0       1
3     9.5          34     255      3        0        1       0       1
4     6.6          37     255      2        1        0       1       0
...   ...         ...     ...    ...      ...      ...     ...     ...
1054  6.7          45     247      2        0        1       0       1
1055  6.7          38     255      1        0        1       1       0
1056  3.0          40     255      3        0        1       0       1
1057  6.8          43     250      1        0        1       1       0
1058  8.6          55     255      3        1        0       0       1

      Fat _0  Fat _1  Turbidity_0  Turbidity_1
0          0       1            1            0
1          1       0            0            1
2          0       1            0            1
3          1       0            0            1
4          1       0            1            0
...      ...     ...          ...          ...
1054       1       0            1            0
1055       0       1            1            0
1056       0       1            0            1
1057       0       1            1            0
1058       0       1            0            1

[1059 rows x 12 columns]

In [37]:
# 훈련 data와 test data 분리
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(data.drop("Grade", axis=1), data["Grade"], test_size=0.3)

In [38]:
# z-점수 표준화
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
x_train = pd.DataFrame(ss.fit_transform(x_train), columns=x_train.columns, index=x_train.index)

x_test = pd.DataFrame(ss.transform(x_test), columns=x_test.columns, index=x_test.index)

g_data_d = pd.DataFrame(ss.fit_transform(g_data.drop("Grade", axis=1)), columns=g_data.columns.drop("Grade"), index=g_data.index)

In [42]:
# Gaussian naive bayes model
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()

train_hat = model.fit(x_train, y_train).predict(x_train)

test_hat = model.predict(x_test)

In [43]:
# train에 대한 정확도, 재현율, f1-score 확인
from sklearn.metrics import classification_report

print("<train data>")
print(classification_report(y_train, train_hat))

<train data>
              precision    recall  f1-score   support

           1       0.82      0.99      0.90       176
           2       0.96      0.91      0.93       264
           3       1.00      0.91      0.95       301

    accuracy                           0.93       741
   macro avg       0.92      0.94      0.93       741
weighted avg       0.94      0.93      0.93       741

In [44]:
# test에 대한 정확도, 재현율, f1-score 확인
print("<test data>")
print(classification_report(y_test, test_hat))

<test data>
              precision    recall  f1-score   support

           1       0.93      0.99      0.96        80
           2       0.97      0.96      0.97       110
           3       1.00      0.97      0.98       128

    accuracy                           0.97       318
   macro avg       0.97      0.97      0.97       318
weighted avg       0.97      0.97      0.97       318

In [45]:
# 교차 검증
from sklearn.model_selection import cross_val_score

print(f"train mean accuracy: {round(cross_val_score(model, x_train, y_train, cv=39).mean(), 2)}")
print(f"test mean accuracy: {round(cross_val_score(model, x_test, y_test, cv=39).mean(), 2)}")

train mean accuracy: 0.92
test mean accuracy: 0.88

In [48]:
# 다항 logistic 회귀 model
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(multi_class="multinomial", solver="lbfgs")

train_hat = model.fit(x_train, y_train).predict(x_train)

test_hat = model.predict(x_test)

In [49]:
# 교차 검증
print(f"train mean accuracy: {round(cross_val_score(model, x_train, y_train, cv=39).mean(), 2)}")
print(f"test mean accuracy: {round(cross_val_score(model, x_test, y_test, cv=39).mean(), 2)}")

train mean accuracy: 0.84
test mean accuracy: 0.86